/* Сбрасываем отступы и боксы */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Убираем стандартный стиль списков */
ul, li {
    list-style: none;
}

/* Убираем подчеркивания ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Картинки не выходят за родитель */
img {
    max-width: 100%;
    display: block;
}
